PORT=3000

ADMIN_USER=test
ADMIN_PASSWORD=tester
SESSION_SECRET=please-change-this-to-something-random

DATABASE_URL=postgresql://postgres.YOURPROJECTREF:YOUR-PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres

# Only set this to false if you are using a local Postgres that has no SSL
# DATABASE_SSL=false
